body{
	background:url("../img/background.gif");
  	background-repeat: no-repeat;
 	background-size: cover;
}
@font-face {
    font-family: "Flappy";
    src: url('../font/flappy.ttf') format("truetype");
}
.header{
	font-family: "Flappy", Verdana, Tahoma;
	font-size:5em;
	color:#fff;
}
.btn-danger{
	width:8em;
}
.call-to-action{
	margin-top: 5em;
}