@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
body{
	background:url("../img/background.gif");
  	background-repeat: no-repeat;
 	background-size: cover;
}
@font-face {
    font-family: "Flappy";
    src: url('../font/flappy.ttf') format("truetype");
}

$font-color:#fff;
@mixin centerer{
	text-align:center;
}

.header{
	color:$font-color;
	@include centerer;
}